<%- include('../partials/head') %>

<header>
    <%- include('../partials/header') %> 
</header>

<div class="bg">
    <div class="container">
        <div class="content card">
            <div class="card" style="width:400px">
                <img class="card-img-top"  src="/img/iphone.jpg" alt="iphone image" width="400" height="400">
                <div class="card-body">
                    <h4 class="card-title">Mac Book Pro</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dicta dolorum deleniti ullam.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <%- include('../partials/footer') %> 
</footer>